body,#root,.app,canvas,html{
  height: 100%;
  margin:0px;
}
body{
  overflow-x: hidden;
}
.app{
  background-color: #9FB4C7;
}
.form{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  background-color: #EEEEFF;
  margin:10px;
  border-radius: 4px;
  padding: 2px;
}
.form *{
  /* border: black solid 1px; */
  padding: 2px;
  text-align: center;
}
select{
  border:none;
  background-color: inherit;
}
.buttons{
  display:flex;
  justify-content: space-around;
}
.buttons *{
  border:none;
  background-color: #28587B;
  color:#FAFAFF;
  height:50px;
  border-radius: 3px;
  margin: 3px;
  padding: 2px 8px;
}
.previews{
  display:flex;
  justify-content: space-around;
}
.preview{
  width:100px !important;
  height:100px !important;
}
.mainCanvas{
  height:calc(100vh - 156px) !important;
}

.anticlick{
  height:60vh;
  box-sizing: content-box;
  position: absolute;
  top:0px;
  width:100%;
}
.notes{
  animation: pullup 1s ease-out 0s 1 forwards;
  height:40vh;
  position: absolute;
  width:100%;
  top: 60vh;
  background-color: white;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.note{
  height: 50%;
  border:none;
  border-radius: 10px;
  background-color: white;
  line-height: 15px;
  background-image: repeating-linear-gradient(white 0px, white 14px, teal 15px);
  box-shadow: 0px 0px 5px 0px #888;
}
textarea { resize: none; }

@keyframes pullup {
  0%{
    top:100vh;
  }
  100%{
    top:60vh
  }
}


@media only screen and (min-width: 768px) {

  .form{
    grid-template-columns:1fr 2fr 2fr;
  }
}