.form{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
}
body,#root,.app,canvas,html{
  height: 100%;
  margin:0px;
}
.previews{
  display:flex;
  gap:20px;
}
.preview{
  width:100px !important;
  height:100px !important;
}
.mainCanvas{
  height:70% !important;
}